.tag-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 20px;
  flex-direction: row;
  overflow: hidden;
  color: white;
  font-family: "Poppins";
}

.tag-container--small {
  padding: 2px 4px;
  font-size: small;
}

.tag-container--medium {
  padding: 4px 6px;
  font-size: medium;
}

.tag-container--large {
  padding: 6px 8px;
  font-size: large;
}

.tag-close--small {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.tag-close--medium {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.tag-close--large {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
